<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Images Change</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
            </button>
        </div>
        <div class="img bg-wrap text-center py-4">
            <div class="user-logo">
                <div class="img" th:style="'background-image:url(' + ${imageSidebarPath} + ');'"></div>
                <h2 th:text="${LoggedUser.getName()}" style="color: white"></h2>
            </div>
        </div>

        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="/user/home"></span>Home</a>
            </li>
            <li class="active">
                <a href="/user/getAll"></span>All Users</a>
            </li>
            <li>
                <form class="inline" method="post" action="/user/logout">
                    <button type="submit" class="link-button"><a style="color: #ffffff99" >Sing out</a></button>
                </form>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <div class="service-wrap">
            <div class="multiple-file-upload-wrap multiple-file-upload">
                <!-- Already uploaded  -->
                <div class="already-uploaded-files">
                    <div class="aup-title">Already Uploaded: </div>
                    <div class="aup-item forDelete" th:each="image : ${imagesList}">
                        <img class="aup-file-name" style="width: 320px; height: 240px" th:src="${image.getPictureFullPath()}">
                        <a th:href="@{${'/images/delete/' + image.getId()}}"><span class="aup-delete-btn mfuDeleteBtn" >Delete</span></a>
                        <div class="aup-server-response server-response"></div>
                        <div class="mfu-clear"></div>
                    </div>
                </div>
            </div>

            <!------------->

            <p></p>
            <form method="post" th:action="${postAction}" enctype="multipart/form-data">
                <p>Upload new Image:</p>
                <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" />
                <button class="mfu-new-item-btn btn btn-primary" type="submit" style="alignment: right">Upload</button>
            </form>
            <br>
            <br>

            <form method="get" action="/user/home">
                <button type="submit" class="mfu-new-item-btn btn btn-primary">Back</button>
            </form>
            <br>
            <br>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>


</body>
</html>