<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${postData.getPostName()}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
            </button>
        </div>
        <div class="img bg-wrap text-center py-4">
            <div class="user-logo">
                <div class="img" th:style="'background-image:url(' + ${imageSidebarPath} + ');'"></div>
                <h2 th:text="${LoggedUser.getName()}" style="color: white"></h2>
            </div>
        </div>

        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="/user/home"></span>Home</a>
            </li>
            <li class="active">
                <a th:href="@{/user/{userId}/posts(userId=${LoggedUser.getId()})}"></span>My posts</a>
            </li>
            <li class="active">
                <a href="/post/new"></span>Create post</a>
            </li>
            <li class="active">
                <a href="/post/getAll"></span>All posts</a>
            </li>
            <li class="active">
                <a href="/user/getAll"></span>All users</a>
            </li>
            <li>
                <form class="inline" method="post" action="/user/logout">
                    <button type="submit" class="link-button"><a style="color: #ffffff99" >Sing out</a></button>
                </form>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <div class="container-fluid" style="margin-top: 100px">
            <div class="row" style="margin-left: 3px">
                <h1 class="display-4" th:text="${postData.getPostName()}"></h1>
            </div>
            <div class="row">
                <div class="fixed" style="margin-right: 80px; margin-bottom: 50px">

                <div class="col-md-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" th:src="${imagesList.get(0).getPictureFullPath}">
                            </div>
                            <div class="carousel-item" th:each="image :${imagesList.subList(1, imagesList.size())}">
                                <img class="d-block w-100" th:src="${image.getPictureFullPath()}">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <a th:href="@{/post/{postId}/imagesChange(postId=${postData.getId()})}" th:style="${isUserCreator}"><button type="button" class="btn btn-secondary">Change images</button></a>
                </div>
                </div>

                <div class="col-auto">
                    <div class="col-auto">
                        <div class="form">
                        <h3><a th:text="${postData.getUser().getName()}" th:href="@{/user/{userId}(userId=${postData.getUser().getId()})}"></a></h3>
                        <img th:src="${postCreatorUserImage}" />
                        <p><strong>Id: </strong><a th:text="${postData.getUser().getId()}"></a></p>
                        <p><strong>Email: </strong><a th:text="${postData.getUser().getEmail()}"></a></p>
                        <p><strong>Phone Number: </strong><a th:text="${postData.getUser().getPhoneNumber()}"></a></p>
                        <p><strong>Date of Registration: </strong><a th:text="${postData.getUser().getDateOfRegistration()}"></a></p>
                    </div>
                </div>
                </div>

            </div>
            <div class="row">
                <div class="col-auto" style="font-size: large">

                    <div class="row">
                        <div class="col-md-12">
                            <label for="date" class="col-form-label">Date of publication</label>
                            <p class="text-left" name="dateOfPost" id="date" th:text="${postData.getDateOfPost()}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="city" class="col-form-label">City</label>
                            <p class="text-left" name="city" id="city" th:text="${postData.getAddress().getCity()}"></p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <label for="fullAddress" class="col-form-label">Full Address</label>
                            <p class="text-left" name="fullAddress" id="fullAddress" th:text="${postData.getAddress().getFullAddress()}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="description" class="col-form-label">Description</label>
                            <p class="text-justify"  name="description" id="description" th:text="${postData.getDescription()}"></p>
                        </div>
                    </div>

                    <a th:href="@{/post/{postId}/infoChange(postId=${postData.getId()})}" th:style="${isUserCreator}"><button type="button" class="btn btn-secondary">Change info</button></a>
                </div>
            </div>

            </div>
            </div>

        </div>



</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>


</body>
</html>