<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="../../css/style.css">
<div class="main-page">
    <div class="form">
        <form class="login-form" method="post" action="/user/home/change" th:object="${homeChangePageRequest}">
            <h3>Страница пользователя</h3>
            <p><strong>Id: </strong><a th:text="${homeChangePageRequest.getId()}"></a></p>
            <p><strong>Email: </strong><a th:text="${homeChangePageRequest.getEmail()}"></a></p>
            <p><strong>Name: </strong><input type="text" name="name"  th:placeholder="${homeChangePageRequest.getName()}"></input></p>
            <p><strong>Phone Number: </strong><input type="text" name="phoneNumber" th:placeholder="${homeChangePageRequest.getPhoneNumber()}"></input></p>
            <p><strong>Date of Registration: </strong><a th:text="${homeChangePageRequest.getDateOfRegistration()}"></a></p>
            <p><strong>Account activated: </strong><a th:text="${homeChangePageRequest.getActive()}"></a></p>
            <button type="submit">Подтвердить изменения</button>
        </form>
    </div>
</div>
</body>
</html>