<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" />
  <head>
  	<title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" >
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary"></button>
        </div>
                <div class="img bg-wrap text-center py-4">
                    <div class="user-logo">
                        <div class="img" th:style="'background-image:url(' + ${imageSidebarPath} + ');'"></div>
                        <h2 th:text="${LoggedUser.getName()}" style="color: white"></h2>
                    </div>
                </div>

        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="/user/home"></span>Home</a>
            </li>
            <li class="active">
                <a th:href="@{/user/{userId}/posts(userId=${LoggedUser.getId()})}"></span>My posts</a>
            </li>
            <li class="active">
                <a href="/post/new"></span>Create post</a>
            </li>
            <li class="active">
                <a href="/post/getAll"></span>All posts</a>
            </li>
            <li class="active">
                <a href="/user/getAll"></span>All users</a>
            </li>
            <li>
              <form class="inline" method="post" action="/user/logout">
                  <button type="submit" class="link-button"><a style="color: #ffffff99" >Sing out</a></button>
              </form>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
          <div class="main-page">
              <div class="form">
                  <form class="login-form" method="get" action="/user/home/change" th:object="${LoggedUser}">
                      <h3>User page</h3>
                      <img th:src="${imagePath}" />
                      <p><strong>Id: </strong><a th:text="${LoggedUser.getId()}"></a></p>
                      <p><strong>Email: </strong><a th:text="${LoggedUser.getEmail()}"></a></p>
                      <p><strong>Name: </strong><a th:text="${LoggedUser.getName()}"></a></p>
                      <p><strong>Phone Number: </strong><a th:text="${LoggedUser.getPhoneNumber()}"></a></p>
                      <p><strong>Date of Registration: </strong><a th:text="${LoggedUser.getDateOfRegistration()}"></a></p>
                      <p><strong>Account activated: </strong><a th:text="${LoggedUser.getActive()}"></a></p>
                      <button type="submit">Change profile</button>
                  </form>
                  <br />
                  <form class="login-form" method="post" action="/user/logout">
                      <button type="submit">Sing out</button>
                  </form>
              </div>
          </div>
      </div>
        </div>

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
  </body>
</html>